# Nozomi settings (optional)
NOZOMI_URL=
NOZOMI_UUID=

# Private key (required)
PRIVATE_KEY=

# gRPC settings (📞Contact us to receive a one-time trial version)
GRPCTOKEN=935103d8-187a-4e97-8d82-5fd1f68cef21
GRPC_ENDPOINT=https://grpc.ny.shyft.to/
RPC_URL=https://api.mainnet-beta.solana.com

# Sniper amount (in SOL)
SNIPERAMOUNT=0.1

# Swap method: "0slot", "nozomi", "race", "solana"
SWAP_METHOD=solana
ENABLE_SWAP_TIP=true
SLIPPAGE_BPS=5000
PRIORITIZATION_FEE_LAMPORTS=20001

# Retry settings
MAX_RETRIES=2
RETRY_DELAY=500
